# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Virtual environment
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Django
*.log
*.pot
*.pyc
*.pyo
__pycache__/
db.sqlite3
/media
/static

# VSCode
.vscode/

# PyCharm
.idea/

# Jupyter Notebook
.ipynb_checkpoints

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# Other IDEs
*.swp
*.swo

# Coverage directory used by pytest
.coverage
*.cover

# pyenv
.python-version

# dotenv files
.env
.env.*
