# Python virtual environment
.venv/
habit_memory/.python_deps/
/venv/

# Coverage data
.coverage
htmlcov/

# Byte-compiled files
__pycache__/

.env
a_naive_approch/.env
an_infotheoretic_approach/.env
an_infotheoretic_approach/.venv/
a_quantale_theoretic_approach/v-predicate-extraction-pipeline/kb/
a_quantale_theoretic_approach/v-predicate-extraction-pipeline/kb.tar.gz
a_quantale_theoretic_approach/structural_reasoning/generalization-component/kb/*
!a_quantale_theoretic_approach/structural_reasoning/generalization-component/kb/lcg_kb.metta
